@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p class="text">
    This is literally a ficticious bookstore invented for the sole purpose of demonstrating how to build a website.
    The website was originally designed and built from January to March of 2014 at Davis High School as part of the Community Education program.
    Check back for future enhancements to the site.
</p>
