@{
    ViewBag.Title = "Ficticious Home";
}

@section hero {
<div id="hero" class="content">
    <img id="banner" src="~/Images/bookBanner.jpg" alt="Book" />
</div>
}

<section class="category">
    <h2>Fiction</h2>
    <ul>
        <li><a href="#">Fantasy</a></li>
        <li><a href="#">Graphic Novels</a></li>
        <li><a href="#">Horror</a></li>
        <li><a href="#">Mystery</a></li>
        <li><a href="#">Poetry</a></li>
        <li><a href="#">Romance</a></li>
        <li><a href="#">Science Fiction</a></li>
    </ul>
</section>

<section class="category">
    <h2>Non-Fiction</h2>
    <ul>
        <li><a href="#">Art</a></li>
        <li><a href="#">Computers</a></li>
        <li><a href="#">Cookbooks</a></li>
        <li><a href="#">Crafts & Hobbies</a></li>
        <li><a href="#">Education & Teaching</a></li>
        <li><a href="#">Foreign Languages</a></li>
        <li><a href="#">Health & Fitness</a></li>
    </ul>
</section>

<section class="category">
    <h2>Children's</h2>
    <ul>
        <li><a href="#">Ages 0 - 2</a></li>
        <li><a href="#">Ages 3 - 5</a></li>
        <li><a href="#">Ages 6 - 8</a></li>
        <li><a href="#">Ages 9 - 12</a></li>
        <li><a href="#">Teens</a></li>
    </ul>
</section>
